<!-- Formulaire pour saisir les données d'un nouvel employé -->
<h2 align="center">{{ selectedEmployee ? 'Edit Employee' : 'Register Employee' }}</h2>
<form #employeeForm="ngForm" (ngSubmit)="onSubmit()" align="center">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="newEmployee.name" required>
  </div>
  <div>
    <label for="status">Status:</label>
    <input type="text" id="status" name="status" [(ngModel)]="newEmployee.status" required>
  </div>
  <button type="submit">{{ selectedEmployee ? 'Save' : 'Add' }} Employee</button>
  <!-- Affiche le bouton Cancel uniquement en mode d'édition -->
  <button type="button" *ngIf="selectedEmployee" (click)="cancelEdit()">Cancel</button>
</form>


<h1 align="center">
Liste des employees
  </h1>
  <table border="1" style="width: 50%" align="center">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Status</th>
      <th>Action</th> <!-- Nouvelle colonne pour les actions -->
    </tr>
    <tr *ngFor="let emp of employees">
      <td>{{ emp.id }}</td>
      <td>{{ emp.name }}</td>
      <td>{{ emp.status }}</td>
      <td>
        <!-- Bouton pour modifier un employé -->
        <button (click)="editEmployee(emp)">Edit</button>
  
        <!-- Bouton pour supprimer un employé -->
        <button (click)="deleteEmployee(emp.id)">Delete</button>
      </td>
    </tr>
  </table>


